<div class="container">
    <h2 class="my-4">Lista de Vendedores</h2>

    <div *ngIf="showForm" class="mb-4">
        <app-seller-form (sellerCreated)="onSellerCreated()" [sellerToEdit]="sellerToEdit">
        </app-seller-form>
    </div>

    <!-- Mostra a tabela se showForm for false -->
    <ng-container *ngIf="!showForm">
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-success" (click)="handleNewSeller()">Novo Vendedor</button>
        </div>

        <table class="table table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Salário</th>
                    <th>Bônus (%)</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let seller of sellers">
                    <td>{{ seller.id }}</td>
                    <td>{{ seller.name }}</td>
                    <td>{{ seller.salary | currency:'BRL' }}</td>
                    <td>{{ seller.bonus }}%</td>
                    <td>
                        <button class="btn btn-primary btn-sm me-2" (click)="handleEdit(seller)">Editar</button>
                        <button class="btn btn-danger btn-sm" (click)="handleDelete(seller.id)">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

</div>