<div class="container">
  <div class="card text-center">
    <div class="card-header">
      Bem-vindo!
    </div>
    <div class="card-body">
      <h5 class="card-title">Aplicação de Cadastro de Vendedores</h5>
      <p class="card-text">
        Este é o projeto final do módulo, onde integramos um backend em Spring com um frontend em Angular.
      </p>
      <a routerLink="/sellers" class="btn btn-primary">Ver Vendedores</a>
    </div>
    <div class="card-footer text-muted">
      Projeto Full-Stack
    </div>
  </div>
</div>