/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto; 
    padding: 2rem 0;
    min-height: calc(100dvh - 7rem);
}